<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/static/icon.png">
    <link type="text/css" rel="stylesheet" href="/static/base.css">
    <style>
      {% block style %}
      {% endblock %}
    </style>
    <title>
      Creolog
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <a href="{{ url }}">{{ url_linktext }}</a> |
    {% block nav %}
    {% endblock %}
    <br>
    <br>
    {% block content %}
    {% endblock %}
  </body>
</html>
