{% extends "base.html" %}

{% block nav %}
  <span id="logo">Creoleog</span> -
  <span style="font-style: italic;">
    The simplest blogging platform that could possibly work!
  </span>
{% endblock %}

{% block content %}

  {% if guser %}
    {% if not user_blog %}
      <p><a href="/create_blog">Create a blog</a></p>
    {% endif %}
  {% else %}
    <p>Sign in to create a blog, or to post to your existing blog.</p>
  {% endif %}

  <h3>Blogs</h3>

  <ul>
    {% if user_blog %}
      <li>
        <a href="/view_blog?blog_key={{ user_blog.key.urlsafe }}">
          {{ user_blog.title }}
        </a>
      </li>
    {% endif %}
    {% for blog in blogs %}
    <li>
      <a href="/view_blog?blog_key={{ blog.key.urlsafe }}">
        {{ blog.title }}
      </a>
    </li> 
    {% endfor %}
  </ul>
{% endblock %}
