{% extends "base.html" %}

{% block title %}
  Creoleog
{% endblock %}

{% block nav %}
  Creoleog
{% endblock %}

{% block content %}
  <ul>
    {% if user_blog %}
      <li>
        <a href="/view_blog?blog_key={{ user_blog.key.urlsafe }}">
          {{ user_blog.title }}
        </a>
      </li>
    {% endif %}

    <p>The simplest blogging platform that could possibly work!</p>

    {% for blog in blogs %}
    <li>
      <a href="/view_blog?blog_key={{ blog.key.urlsafe }}">
        {{ blog.title }}
      </a>
    </li> 
    {% endfor %}
  </ul>

  {% if guser %}
    {% if not user_blog %}
      <p><a href="/create_blog">Create a blog</a></p>
    {% endif %}
  {% else %}
    <p>Log in to create a blog, or post to your existing blog.</p>
  {% endif %}
{% endblock %}
