{% extends "base.html" %}

{% block title %}&gt; {{blog.title}}{% endblock %}

{% block nav %}
  <span id="logo"><a href="/">Creoleog</a></span> &gt; {{blog.title}}
{% endblock %}
  
{% block content %}
  <h1>
    {{blog.title}}
    {% if user_blog %}
      <span style="font-size: small; font-weight: normal;">
        [<a href="/edit_blog?blog_key={{blog.key.urlsafe}}">edit</a>]
      </span>
    {% endif %}
  </h1>

  {% if user_blog %}
    <br>
    <p><a href="/new_entry?blog_key={{blog.key.urlsafe}}">New Post</a></p>
  {% endif %}

  {% for entry in entries %}
    <div id="entry">{{entry.body_as_html|safe}}</div>
    <p style="font-size: small;">
      {{ entry.creation_date|date:"Y-m-d H:i" }}
      {% if user_blog %}
        [<a href="/edit_entry?entry_key={{entry.key.urlsafe}}">edit</a>]
      {% endif %}
    </p>
    <br>
  {% endfor %}
{% endblock %}
